<!DOCTYPE html>
<html>
  <head>
    <title>Vixen | Luxury Lingerie by Mishal</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">


  </head>

  <body>
   

<!-- <a href="/"><img id="logo" src='/images/transparent_Logo.png'></a> -->



  <div id='container'>
    <header id='header1'> 
      <a href='/'><h1 id='vixen'>VIXEN</h1></a>
  </header>

   <header id='header2'>
   <h2 id='lingerie'>Luxury Lingerie by Mishal </h2>

   <div class="box">
    <div class="container-1">
        <a href='/search'><span class="icon"><i class="fa fa-search"></i></span>
        <input type="search" id="search" placeholder="Search..." />
    </div>
    
  </div>


   <div id='navigation'>
      <a href='/new'>NEW</a>
      <a href='/bestsellers'>BESTSELLERS</a>
      <a href='/bras'>BRAS</a>
      <a href='/panties'>PANTIES</a>
      <a href='/lingerie'>LINGERIE</a>
      <a href='/auth/google'>Login</a>
      <a href='/logout'>Logout</a>
      
   </div>
  </div>
  
  </header>


