<!DOCTYPE html>
<html>
  <head>
    <title>Vixen | Luxury Lingerie by Mishal</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">


  </head>

  <body>
    <div class='wrapper'>


  <a href="/"><img id="logo" src='/images/vixen_longlogo.png'></a>

  

  <header id='header2'>
   
    

    <div class='bag'>
     <a href='/mybag'>  <i class="fas fa-shopping-bag"></i> MY BAG</a>
    </div>




  <form method='POST' class="example" action="/search">
    <input type="text" placeholder="Search.." name="search" autocomplete="off">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  
<% if (user) { %>
      <p id='login'>HELLO <%= user.name %></p>
    <% } else { %>
      <p id='login'>Hello Stranger</p>
    <% } %>
    
    <% if (user) { %>
    <a href='/logout'>LOGOUT</a>
    <% } else { %>
    <a href='/auth/google'>LOGIN</a>
     <% } %>

   <div id='navigation'>
      <a href='/new'>NEW</a>
      <a href='/bestsellers'>BESTSELLERS</a>
      <a href='/bras'>BRAS</a>
      <a href='/panties'>PANTIES</a>
      <a href='/lingerie'>LINGERIE</a>
      
      
     
    
   </div>
  </div>
  
  </header>


