<%- include('partials/header.ejs') %>

<br>
<br>
<br> 
    <h1>Hey Hottie, we can't display right now, we're working hard right now... come back in a few months</h1>
    

    <div class='index'>
        <img src='/images/standbyIMG_8688.jpg' id='index'>
        </div>

<%- include('partials/footer.ejs') %>