<!DOCTYPE html>
<html>
  <head>
    <title>Vixen | Luxury Lingerie by Mishal</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">


  </head>

  <body>
    <style>
      body {
        background-image: url("https://image.freepik.com/free-photo/natural-red-roses-background-flowers-wall-roses-as-background-picture_110911-6.jpg");
      }
    </style> 

  <a href="/"><img id="logo" src='/images/vixen_longlogo.png'></a>

  

   <header id='header2'>
   <h2 id='lingerie'>Luxury Lingerie by Mishal </h2>

   <div class="box">
    <div class="container-1">
      <a href='/search'><span class="icon"><i class="fa fa-search"></i></span>
        <input type="search" id="search" placeholder="Search..." />
    </div>
    
  </div>   


  <% if (user) { %>
    HELLO <%= user.name %>
  <% } else { %>
    hello Stranger,
  <% } %>
  

   <div id='navigation'>
      <a href='/new'>NEW</a>
      <a href='/bestsellers'>BESTSELLERS</a>
      <a href='/bras'>BRAS</a>
      <a href='/panties'>PANTIES</a>
      <a href='/lingerie'>LINGERIE</a>
      
      
      <% if (user) { %>
      <a href='/logout'>Logout</a>
      <% } else { %>
      <a href='/auth/google'>Login</a>
     <% } %>
      
      
   </div>
  </div>
  
  </header>





  <div class='index'>
  <img src='/images/IMG_8675.jpg' id='index'>
  </div>

  </body>

  <footer id='footer'>
    <a href='/about'>ABOUT</a>
    <a href='/FAQs'>FAQ's</a>
    <a href='/fitting'>FITTING GUIDE</a>

    <div>
      <a href='/email'>email</a>
      
      <i class="fab fa-facebook"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-snapchat"></i>
      <i class="fab fa-youtube"></i>
      <i class="fab fa-pinterest"></i>
      <i class="fab fa-twitter"></i>
      
      <i class="fab fa-shopping-basket"></i>
      <i class="fab fa-shopping-cart"></i>
      

      ©2021 Vixen Lingerie

     
    </div>
  </footer>

</html>
