<!DOCTYPE html>
<html>
  <head>
    <title>Vixen | Luxury Lingerie by Mishal</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">


  </head>

  <body>
    <div class='wrapper'>


    <style>
      body {
        background-image: url("https://image.freepik.com/free-photo/natural-red-roses-background-flowers-wall-roses-as-background-picture_110911-6.jpg");
      }
    </style> 

  <a href="/"><img id="logo" src='/images/vixen_longlogo.png'></a>

  

  <header id='header2'>
   
    

    <div class='bag'>
     <a href='/mybag'>  <i class="fas fa-shopping-bag"></i> MY BAG</a>
    </div>




  <form method='POST' class="example" action="/search">
    <input type="text" placeholder="Search.." name="search" autocomplete="off">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  
<% if (user) { %>
      <p id='login'>HELLO <%= user.name %></p>
    <% } else { %>
      <p id='login'>Hello Stranger</p>
    <% } %>
    
    <% if (user) { %>
    <a href='/logout'>LOGOUT</a>
    <% } else { %>
    <a href='/auth/google'>LOGIN</a>
     <% } %>

   <div id='navigation'>
      <a href='/new'>NEW</a>
      <a href='/bestsellers'>BESTSELLERS</a>
      <a href='/bras'>BRAS</a>
      <a href='/panties'>PANTIES</a>
      <a href='/lingerie'>LINGERIE</a>
      
      
     
    
   </div>
  </div>
  
  </header>



  <div class='index'>
  <img src='/images/IMG_8675.jpg' id='index'>
  </div>

<div class='push'></div>
</div>
  

  <footer id='footer'>
    <a href='/about'>ABOUT</a>
    <a href='/FAQs'>FAQ's</a>
    <a href='/fitting'>FITTING GUIDE</a>

    <div>

      Newsletter
      <form method='POST' action='/submission'>
      <input type="email" id="email" placeholder="your email" name='email' autocomplete="off"/>
      <button>Sign Up</button>
    </form>
      
      <i class="fab fa-facebook"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-snapchat"></i>
      <i class="fab fa-youtube"></i>
      <i class="fab fa-pinterest"></i>
      <i class="fab fa-twitter"></i>
      
      <i class="fab fa-shopping-basket"></i>
      <i class="fab fa-shopping-cart"></i>
      

      ©2021 Vixen Lingerie

     
    </div>
  </footer>
</body>

</html>
