<%- include('partials/header.ejs') %>
<br>
<br> 
<br> 
    <h1> Hey Hottie, check back next season! </h1>

    <div class='index'>
        <img src='/images/IMG_8682.jpg' id='index'>
        </div>
      
<%- include('partials/footer.ejs') %>

