<%- include('partials/header.ejs') %>

    <h1> this is the new page honayy</h1>

        <form method="POST" action='/submit'>
        <input type='text' name='new' autocomplete='off'>
        <button type='submit'>Submit</button>
        </form>

        
<%- include('partials/footer.ejs') %>

